<h1>Angular / Angular-cli</h1>
<router-outlet></router-outlet>

<div style="display: none;">
<app-issue-list></app-issue-list>
<app-issue-detail></app-issue-detail>

<nav>
  <a class="button" routerLink="/list">List</a> |
  <a class="button" routerLink="/detail">Detail</a>
</nav>


</div>